.passion-container {
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 40vh;
  background-position: 0px 1%;
  padding: 6%;
  margin-bottom: 100px;
  padding-top: 150px;
}

.passion-text {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
  top: 30px;
  flex: 0.5;
}
.passion-text strong {
  display: flex;
  justify-content: center;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  font-style: bold;
  font-family: "Open sans" !important;
  font-size: 60px;
}

.passion-text > p {
  font-size: 18px !important;
}

.passion-img-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.image {
  flex: 0.4;
  height: 400px;
  width: 100%;
  border-radius: 25px;
  object-fit: cover;
  position: relative;
  background-image: url("https://images.pexels.com/photos/3775603/pexels-photo-3775603.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: bottom;
  background-size: cover;
  box-shadow: 0px 50px 70px rgba(0, 0, 0, 0.3), 0px 10px 10px rgba(0, 0, 0, 1);
  top: 100px;
}

.image:after {
  content: "";
  background-image: inherit;
  width: inherit;
  height: 40%;
  position: absolute;
  bottom: -41%;
  transform: scaleY(-1);
  background-position: bottom;
  background-size: cover;
  border-radius: 25px;
  opacity: 0.5;
}

.image:before {
  content: "";
  width: inherit;
  height: 41%;
  position: absolute;
  bottom: -42%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.623), white);
  z-index: 1;
  border-radius: 25px;
}

.passion-container p {
  font: 1em sans-serif;
  text-align: justify;
  margin-top: 50px;
  color: rgb(7, 7, 7);
}
.passion-container h1 {
  font: 3em sans-serif;
  width: 80%;
  text-align: justify;
  margin-top: 50px;
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 820px) {
  .passion-container {
    height: 400px;
    margin-bottom: 0px;
    padding-top: 20px;
  }

  .passion-img-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 400px;
    padding: 10px;
    height: 200px;
  }

  .passion-text {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
    top: 30px;
    flex: 1;
  }
}
@media screen and (max-width: 580px) {
  .passion-container {
    height: auto;
  }

  .passion-container p {
    font: 1em sans-serif !important;
    text-align: justify;
    margin-top: 50px;
    color: rgb(7, 7, 7);
  }
}
